@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: poppins;
	background-color: #cac5c5;
}

* {
	margin: 0;
	padding: 0;
	scroll-padding-top: 2rem;
	scroll-behavior: smooth;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

p    {
    color: rgb(34, 34, 36);
}

nav {
	width: 100%;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
	z-index: 100;
}

.icon img {
	height: 50%;
	width: 50%;

}
.social-media {
	height: 40px;
	border: 1px solid rgb(34, 34, 36);
	display: flex;
	justify-content: center;
	align-items: center;
}

.social a {
	margin: 0px 5px;
	color: rgb(34, 34, 36);
	font-size: 0.9em;
}

.phone {
    color: rgb(34, 34, 36);
    margin-left: 30px;
    font-size: 0.9em;
}

.phone a {
   margin: 0px 2px;
   color:rgb(34, 34, 36);
   font-size: 0.9em;
}


.feature-box {
	width: 155px;
	height: 155px;
	margin: 0px 20px;
	border-radius: 10px;
	overflow: hidden;
}

.feature-box a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.item span{
	font-size: 1 rem;
	font-weight: 600;
	margin: 5px;
	color: #444444;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#autoWidth {
	display: flex;
	justify-content: center !important;
	margin: 10px auto 40px auto;
}

.shop {
	margin-top: 2rem;
}

.container {
	max-width: 1068px;
	margin: auto;
	width: 100%;
}

section {
	padding: 4rem 0 3rem;
}

.content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	gap:12.5rem;
}

img {
	width: 100%;
}

.box {
	position: relative;
}

.cat-image {
    position: relative;
	width: 50%;
	height: auto;
	margin-bottom: 0.5rem;
    margin-left: 110px;
}

.cat-img {
	width: 100%;
	height: auto;
	margin-bottom: 0.5rem;
}

.title {
    text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.input {
    text-align: center;
	font-size: 1em;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.year {
    text-align: center; 
	font-weight: 500;
}
.featured-heading,
.cat-heading{
	display: flex;
	justify-content: center;
	align-items: center;
}

.featured-heading h2,
.cat-heading h2 {
	font-size: 1.5em;
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 40px;
	padding: 5px 30px;
	border: 1px solid gray;
}


.social a:hover {
	color: rgb(34, 34, 36);
	transition: all ease 0.3s;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 400px;
}

.icon img {
	height: 50%;
	width: 50%;

}

.menu {
	display: flex;
}

.menu li {
	position: relative;
	margin: 20px;
	display: flex;
	text-transform: uppercase;
	font-weight: 500;
}

.menu li a{
	color: rgb(34, 34, 36);
}

.right-menu a {
	margin: 0px 10px;
	font-size: 1.2em;
	color: rgb(34, 34, 36);
}

.menu li a:hover
 {
	color: rgb(34, 34, 36);
	transition: all ease 0.3s;
}

.fix-nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #cac5c5;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
	z-index: 102;
}

@media (max-width: 1080px) {
	.container {
		margin: 0 auto;
		width: 90%;
	}
}